<div class="section">
<h6 class="title is-6">Create Todo:</h6>
<form (ngSubmit)="onSubmit()" #todoForm="ngForm">
  <div class="field-body">
    <div class="field is-narrow">
      <input type="text" class="input" placeholder="Description" id="description" [(ngModel)]="model.description" name="description"
        #description="ngModel">
    </div>
    <div class="field is-narrow">
      <input type="text" class="input" placeholder="Responsible" id="responsible" [(ngModel)]="model.responsible" name="responsible"
        #responsible="ngModel">
    </div>
    <div class="field is-narrow">
      <div class="control">
        <div class="select is-fullwidth">
          <select class="input" id="priority" [(ngModel)]="model.priority" name="priority" #priority="ngModel">
            <option value="low">Low</option>
            <option value="medium">Medium</option>
            <option value="high">High</option>
          </select>
        </div>
      </div>
    </div>
    <div class="field">
      <button type="submit" class="button is-primary">Create</button>
    </div>
  </div>
</form>

<br />

<h6 class="title is-6">Todos List:</h6>

<div *ngIf="(todos | async)?.length!=0">
  <table class="table is-striped is-hoverable is-fullwidth">
    <thead class="thead-inverse">
      <tr>
        <th>#</th>
        <th>Todo Description</th>
        <th>Responsible</th>
        <th>Priority</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of todos | async">
        <td>
          <span (click)="toggleTodo(t)" [class.completed]="t.isCompleted">{{ t.id }}</span>
        </td>
        <td>
          <span (click)="toggleTodo(t)" [class.completed]="t.isCompleted">{{ t.description }}</span>
        </td>
        <td>
          <span (click)="toggleTodo(t)" [class.completed]="t.isCompleted">{{ t.responsible }}</span>
        </td>
        <td>
          <span *ngIf="t.priority == 'low'" class="tag is-info">Low</span>
          <span *ngIf="t.priority == 'medium'" class="tag is-warning">Medium</span>
          <span *ngIf="t.priority == 'high'" class="tag is-danger">High</span>
        </td>
        <td>
          <button class="delete is-small is-pulled-right" (click)="removeTodo(t)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
